<div *ngIf="isJobsCentral">
  <div class="employers-container">
    <div class="container employers-container__content">
      <div class="employers-container__welcome-text">Hire the right candidates. Right now!</div>
      <div class="employers-container__text col-xs-12">Contact us at <b>+603-8940 7688</b> or <a href="mailto:enquiry@jobscentral.com.my"><b>drop us an enquiry</b></a> to start hiring now!</div>
      <div class="employers-site-btn">
        <a class="btn" [href]="hrToolReferenceUrl">Login with your employer account</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isTalentCorp">
  <div class="employers-container">
    <div class="container employers-container__content">
      <div class="employers-container__welcome-text">Welcome to the TalentCorp Employer Area!</div>
      <div class="employers-container__text col-xs-12">TalentCorp is the fastest growing job portal in Malaysia today. Advertisers who use TalentCorp reach out to a very different database of jobseekers. Discover the benefits of TalentCorp for yourself! </div>
      <div class="employers-container__text-last col-xs-12">Contact us at <b>+603-8892 3800</b> or <b><u>drop us an enquiry</u></b> to learn more!</div>
    </div>
  </div>
</div>
