<div class="sub-menu">
  <ul>
    <li class="sub-menu-item"><a [href]="referenceLinks.candidateAppMyCv">{{ 'SUB_MENU.DASHBOARD' | translate }}</a></li>
    <li class="sub-menu-item active"><a href="/jobs/favourite">{{ 'SUB_MENU.SAVED_JOBS' | translate }}</a></li>
    <li class="sub-menu-item"><a [href]="referenceLinks.candidateAppMyApplications">{{ 'SUB_MENU.APPLIED_JOBS' | translate }}</a></li>
    <li class="sub-menu-item"><a [href]="referenceLinks.candidateAppMyCalendar">{{ 'SUB_MENU.INTERVIEWS' | translate }}</a></li>
  </ul>
</div>