@import "../../vip24-theme";

.main-navigation {
  @if $isJobsCentral {

    a, a:not([href]) {
      color: #555555;
      cursor: pointer;
      font-family: "Oxygen-Regular";
      font-size: 16px;
      text-decoration: none;

    }

    .account-navigation .account-navigation-not-logged-in__for-jobseekers {
      a, a:not([href]) {
        border-color: #555555;
      }
    }
  }

  @if $isTalentCorp {

    a, a:not([href]) {
      color: #FFF;
      cursor: pointer;
      font-family: "Oxygen-Bold";
      font-size: 16px;
      text-decoration: none;
    }

    a:hover, a:not([href]):hover {
      color: #fff;
    }
  }
}
